@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

:root {
  --standard-gap: 0.8rem;
  --accent-green: #1e7979;
}

* {
  -webkit-transition: background-color 0.5s ease-out, color 0.5s ease-out;
  -moz-transition: background-color 0.5s ease-out, color 0.5s ease-out;
  -o-transition: background-color 0.5s ease-out, color 0.5s ease-out;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

html[data-theme='light'] {
  --accent-gold: #ec9a29;
  --warn: #c33c54;
  --bg: #f6f7f8;
  --calc-body: #abc9c9;
  --calc-display: #f6f7f8;
  --default-text: var(--accent-green);
  --btn-bg: #f6f7f8;
  --btn-bg-hover: #efefef;
  --text: #343434;
  --btn-shadow: 1px 1px 5px #19315e25;
  --border: 1px solid #bdbdbd;
  --calc-shadow: 1px 1px 10px #19315e40;
  --theme-toggle: rgba(0, 0, 0, 0.2);
  --theme-toggle-hover: rgb(0, 0, 0, 1);
}

html[data-theme='dark'] {
  --accent-gold: #ffd13b;
  --warn: #ff6347;
  --bg: #2a2e39;
  --calc-body: #323844;
  --calc-display: #21242d;
  --default-text: #dce0eb;
  --btn-bg: #2a2e39;
  --btn-bg-hover: #2a2e39;
  --text: #343434;
  --border: 1px solid #1d1d1d;
  --calc-shadow: 1px 1px 10px #050a1340;
  --theme-toggle: rgba(255, 255, 255, 0.2);
  --theme-toggle-hover: rgb(255, 255, 255, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  margin: 0;
  min-height: 100svh;
  background: var(--bg);
}

#app {
  margin: 0;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc {
  background: var(--calc-body);
  width: 100vw;
  height: 100svh;
}

.warn {
  color: var(--warn);
}

.accent-gold {
  color: var(--accent-gold);
}

.display {
  position: relative;
  color: var(--default-text);
  min-height: 10rem;
  background: var(--calc-display);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 3.5rem 2rem 2rem;
  overflow-x: auto;
}

.display i {
  color: var(--accent-gold);
  font-size: 0.7rem;
  margin-left: 0.5rem;
}

.display span {
  margin-left: 0.5rem;
}

.theme-toggle {
  position: absolute;
  left: 0.7rem;
  top: 1rem;
}

.theme-toggle i {
  color: var(--theme-toggle);
  font-size: 1.5rem;
}

.theme-toggle i:hover {
  color: var(--theme-toggle-hover);
  cursor: pointer;
}

.previous-value {
  font-weight: 500;
}

.current-value {
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
}

#calc-buttons {
  border-radius: 50px 50px 0 0;
  padding: 1.5rem;
  display: grid;
  gap: var(--standard-gap);
  grid-template-columns: repeat(4, 1fr);
}

button {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--btn-bg);
  color: var(--default-text);
  border-radius: 4px;
  font-size: 1.3rem;
  min-height: 4rem;
  min-width: 4rem;
  border: none;
  box-shadow: var(--btn-shadow);
}

button:hover {
  cursor: pointer;
  background-color: var(--btn-bg-hover);
  border: var(--border);
  box-shadow: none;
}

.span-2 {
  grid-column: span 2;
}

@media only screen and (min-width: 470px) {
  #calc {
    max-width: 27rem;
    width: 97vw;
    height: unset;
    border-radius: 10px;
    border: var(--border);
    box-shadow: var(--calc-shadow);
  }

  .display {
    border-radius: 10px 10px 0 0;
  }
}
